<link href= "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

<h1>Stupid Coaching</h1>

<div class = "user">
  <%= @question%>
  <p> -You</p>
</div>
<div class = "coach">
  <%=@coach_answer%>
  <p> -Your coach</p>
</div>
<a class="ask" href="http://localhost:3000/ask">Ask a new question</a>
