
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 1.6px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
div {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  border-left-style: solid;
  border-width: 8px;
  border-color: #B6B6B6;
  padding: 8px 16px;
  margin-bottom: 16px;
}

  .coach {
    background-color: #FFFDE1;
    width: 400px
  }

 p {
  line-height: 1.6px
 }

.ask {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #5389D8
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  padding: 10px 20px;
  margin: 8px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #5389D8;
}
